#simo-flash-message-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    margin: 30px 10px auto auto;
    width: 25%;
    bottom: auto;
    z-index: 1000000000;
}

.simo-flash-message {
}

.simo-flash-message-content {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.simo-flash-message-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.simo-flash-message-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.simo-flash-message-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.simo-flash-message-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.simo-flash-message-time {
    text-align: right;
}

.simo-flash-message-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.simo-flash-message-close:hover,
.simo-flash-message-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.simo-flash-message-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}